body{
  /*background-color:   #FFF5E6*/

}
header{
  background: green;
}
/*div{
  margin-top: 0px;
  margin-bottom: 0px;
}*/
h2,h3,h4,h5,h6{
  /*margin-top: 20px;*/
  /*color: white;*/
  text-align: center;
  /*text-shadow: 2px 2px 2px black;*/
}
h2{
  font-weight: 500;
}

.light{
  font-weight: 100 !important;
}
.heading-container{
  /*margin-top: 50px;*/
  padding: 0 100 0 100;
  margin-bottom: 50px;
}
.image-container{
  /*padding-top: 30%;*/
/*  width: 300px;
  margin: 0 auto;*/
  position: relative;
  /*margin-top: 40px;*/
}
.dvdSet{
  /*display: none;*/
  max-width: 100%;
  height: auto;
}
.dvdSet_sm{
  margin-left: 20px;
}
.video-container{
  /*background-color: red;*/
  margin: 0 auto;
  width: 320px;

}
.order-section{
  /*margin-top: 100px;*/
}

.container{
  padding: 50px 20px 50px 20px;
  /*padding-top: 500px;*/
}

.container.fb-container{
  padding-top: 0;
  padding-bottom: 20px;
}
.block3-container{
  padding: 0px 0px 30px 0px;
}

.color-block{
  /*padding: 20px;*/
}
.block1{
  /*background:  #FFF5E6;*/
  /*max-width: 1200px;*/
    /*margin: 0 auto;*/
    background-color: #FFBA7F;
  /*background-image: url('../images/beach-wide.png');*/
  /*background-color:   #FFF5E6;*/



  /*max-height: 537px;*/
  /*max-width: 1100px;*/
}
.block2{

  background-color: #FFe3cb;
  /*background-color: #FFBA7F;*/



  /*background: white;*/
  /*padding-top: 50px;*/
  /*padding-bottom: 50px;*/
}
.block3{
    /*background-color: #FFBA7F;*/

  /*background-color:  #A1887F;*/
}

.order-button-container{
  width: 150px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 40px;
  height: 60px;
}

.subtext{
  /*padding-top: 20px;*/
  font-size: 1.2rem;
}
.centered{
  text-align: center;
}
.video-m, .video-l, .video-xl{
    display: none;
}
.bottomImage{
  width: 100%;
  height: auto;
}
.quote {
   font: 16px/20px italic Times, serif;
  padding: 10px;

  /*margin: 5px;*/
  text-indent: 23px;
}

footer{
  overflow: scroll;
  height: 200px;
  /*height: 200px;*/
  /*background-image: url('../images/10sess_bottom_banner_tr.png');*/
  color: white;
    background-color: white;
      background-color: #FFe3cb;

  /*padding: 20px;*/
}
.footerElement{
    width: 110px;
  margin: 0 auto;
}

.smallImage{
  width: 1px;
  opacity: 0%;
}

button.square-order-button{

}





/* Mobile first queries */
@media (min-width: 335px){
  .video-container{
    padding-top: 0px;
  }
  .block3-container{
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

/* Larger than mobile */
@media (min-width: 400px) {
  .video-s, .video-l, .video-xl{
    display: none;
  }
   .video-m{
    display: block;
  }
  .dvdSet{
    display: block;
  }
  .dvdSet_sm{
    display: none;
  }
   .video-container{
    width: 360px;
    margin-top: 20px;
  }
}

/* Larger than phablet */
@media (min-width: 550px) {
  .video-l{
    display: block;
  }
  .block3-container{
    padding-left: 0px;
  }
  .video-m, .video-xl, .video-s{
    display: none;
  }
  .video-container{
    width: 500px;
  }

}

/* Larger than tablet */
@media (min-width: 650px) {
/*  .dvdSet{
    display: block;
  }
  .dvdSet_sm{
    display: none;
  }*/

}

/* Larger than desktop */
@media (min-width: 1000px) {
  .video-xl{
    display: block;
  }
    .video-s, .video-m, .video-l{
    display: none;
  }
  .video-container{
    width: 720px;
  }
  .dvdSet{
    margin-left: 80px;
  }

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
